# SYS
.DS_Store

# IDE/Editor
.phpintel/
.idea/
*.swp

# Framework
app/conf/*
var/cache/*
var/log/*
web/*
web/static/*
!app/conf/.gitkeep
!app/conf/conf.sample
!var/cache/.gitkeep
!var/logs/.gitkeep
!web/static/.gitkeep
!web/index.php

# Composer
vendor/
composer.lock
